

  /* Color definitions for data science pipeline */
:root{ 
  --dsp-red: rgb(255, 217, 223);
  --dsp-orange: rgb(255, 226, 173);
  --dsp-yellow: rgb(255, 255, 190);
  --dsp-green: rgb(200, 236, 200);
  --dsp-blue: rgb(205, 229, 237);
  --dsp-gray: rgb(231, 231, 231);
  --dsp-light: rgb(245, 245, 245);
}

.inline-exercise{ 
  background-color: #f0f8ff; 
  border-left: 5px solid #4b9cd3; 
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  max-width:500px;
  margin: auto; 
  padding: 1em 1.5em;
}
.inline-exercise h4 {
  color: #274967; 
  margin-top: 0;
  margin-bottom: 0.5em;
}


/* 
An example inline exercise with solution looks like this: 
      <div class="exercise">
        <h4>Exercise</h4>
        <p>What is 1+2+3?</p>
        <button onclick="toggleSolution(this)" class="exercise-button">Show Solution</button>
        <div class="solution">
          <p>1+2+3 = 6.</p>
        </div>
      </div>
*/


.advanced {
  background-color: #f0f8ff; 
  border-left: 5px solid #c14bd3; 
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  max-width:100%;
  margin: auto; 
  padding: 10px;
  margin-top: 15px; 
  margin-bottom: 15px; 
  text-align: left;
}
.advanced h4 {
  background-color: #f0f8ff; 
  color: #274967; 
  margin-top: 0;
  margin-bottom:0;
  font-size:90%;
}


.exercise {
  background-color: #f0f8ff; 
  border-left: 5px solid #4b9cd3; 
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  max-width:500px;
  margin: auto; 
  padding: 1em 1.5em;
  margin-top: 35px; 
  margin-bottom: 35px; 
  text-align: left;
}
.exercise h4 {
  color: #274967; 
  margin-top: 0;
  margin-bottom: 0.5em;
}
.solution {
  display: none;
  margin-top: 10px;
  padding: 10px;
}
.exercise-button {
  margin-top: 10px;
  cursor: pointer;
}

.definition-box {
  background-color: #f0fff4; 
  border-left: 5px solid #2f855a; 
  padding: 1em 1.5em;
  margin: 1.5em 0;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  max-width:500px;
  margin: auto; 
  text-align: left;
}

.definition-box h4 {
  color: #276749; 
  margin-top: 0;
  margin-bottom: 0.5em;
}

.definition-box p {
  margin: 0;
}

.theorem-box {
  background-color: #f7f5ff; 
  border-left: 5px solid #805ad5; 
  padding: 1em 1.5em;
  margin: 1.5em 0;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  text-align: left;
}

.theorem-box h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #553c9a;  
  font-weight: 600;
}

.theorem-box p {
  margin: 0;
}

.algorithm-box {
  background-color: #fffbeb; 
  border-left: 5px solid #d69e2e; 
  padding: 1em 1.5em;
  margin: 1.5em 0;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  max-width:500px;
  margin: auto; 
  text-align: left;
}

.algorithm-box h4 {
  color: #b7791f; 
  margin-top: 0;
  margin-bottom: 0.5em;
}

.algorithm-box p, .algorithm-box ol {
  margin: 0;
}
.algorithm-box ol {
  list-style-type: none;
  counter-reset: my-counter;
  padding-left: 1.5em; 
}

.algorithm-box ol li {
  counter-increment: my-counter;
  position: relative;
}

.algorithm-box ol li::before {
  content: "(" counter(my-counter) ")";
  position: absolute;
  left: -1.5em; 
}



