html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }

  body {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  h1, h2, h3 {
    line-height: 1.2; 
    color: #222; 
  }

  img {
    border: 1px solid #ddd;
  }

  code {
    background-color: #fff;
    font-size: 1.2em;
    border: 2px solid #bbf;
    padding:2px;
  }

  .emph {
    background-color: #fff;
    border: 1px solid #ddd;
    padding-left:2px;
    padding-right:2px; 
  }

  .left-panel {
    width: 450px;      
    padding: 1em;
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 100%;
    overflow-y: scroll; 
  }

  .right-panel {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  #feedback-box {
   margin-top: 1em; 
   font-weight: bold;
   text-align: right; 
  }

  #luckysheet {
    position: absolute;
    inset: 0;
    overflow: hidden !important;
    height: 100%;
    width: 100%;
  }

  #luckysheet-input-box {
    position: absolute !important;
    max-width: 200px !important;
    overflow: hidden !important;
    z-index: 9999 !important;
    right: 0 !important; 
    pointer-events: auto;
  }

  #luckysheet-input-box input {
    max-width: 200px !important;
  }

  /* .luckysheet-scrollbar-x,
  .luckysheet-scrollbar-y {
    display: none !important;
  } */


  @media (max-width: 800px) {
    body {
      flex-direction: column;
    }

    .left-panel {
      width: 100%;
      height: 40%;
      border-right: none;
      border-bottom: 1px solid #ccc;
    }

    .right-panel {
      height: 60%;
      width: 100%;
    }
  }